<h1>Acceso de usuario</h1>
  <div class="form-container">
  <form action="api/session/login" method="post" class="form-login">
    <label>Email: </label> <input type="email" name="email"><br/><br/>
    <label>Password: </label> <input type="password" name="password"><br>/<br/>
    <button type="submit">Iniciar Sesion</button><br>
    <label>No tiene usuario? <a href="/register" class="registro">Registrate aquí</a></label>
  </form>
</div>