<h1>Regenerar su contraseña</h1>
  <div class="form-container">
    <form action="/api/session/resetpass" method="post" class="form-register">
      <label>Email:</label> <input type="text" name="email" value={{data.email}} readonly><br/>
      <label>Ingrese su nueva contraseña:</label> <input type="password" name="password"><br/>
      <button type="submit">Regenerar contraseña</button>
    </form>
  </div>
</form>