body {
  font-family: 'Arial', sans-serif;
  font-size: 10px;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1 {
  text-align:center;
}

h2 {
  color: #333;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

a:hover  {
  text-decoration: none;
  color: white;
}

.registro {
  text-decoration: none;
  color: rgb(30, 118, 158);
}

.registro:hover  {
  text-decoration: none;
  color: #4caf50;
}

input {
  width: 30%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
}

button:hover {
  background-color: #45a049;
}

.form-container {
  width: 80%;
  margin: 0 auto; 
}

.form-login
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-login label {
  text-align: left; 
  width: 40%; 
}

.form-login input {
  width: 40%; 
  margin-bottom: 10px; 
}

.form-register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-register label {
  text-align: left; 
  width: 40%; 
}

.form-register input {
  width: 40%; 
  margin-bottom: 10px; 
}

.div-session{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: first baseline;
}

.div-login
{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: first baseline;
}

.div-recovery
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: first baseline;
  width: 60%;
  font-size: 12px;
}

.div-register
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: first baseline;
  width: 50%;
  font-size: 12px;
}

.add-prod {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-prod div {
  margin-bottom: 15px;
}

.product-container {
  max-width: 800px;
  margin: 10px auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-item p {
  margin: 5px 0;
}

.product-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin: 10px auto;
}

.product-paging{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin: 10px auto;
}

.product-item button {
  background-color: #4caf50;
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.product-item button:hover {
  background-color: #45a049;
}

.button-paging {
  background-color: #cccccc;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  margin: 5px;
}

.button-paging:hover {
  background-color: #7e7e7e;
}

.btnGithub{
  margin-left:5px;
  background-color: rgb(247, 121, 76);
  color: #fff;
}

.btnGithub:hover{
  background-color: rgb(248, 98, 43);
}

.btn-prod{
  margin: 5px;
}

.btnAddCart{
  margin: 5px;
}

.quantity{
  font-size: 14px;
  color: #45a049;
}

.btnCerrarSesion{
  background-color: #cccccc;
  height: 20px;
  margin: 5px;
  display: flex;
  align-items: center;
  text-align: center; 
}

input[readonly] {
  background-color: #f4f4f4; /* Color de fondo gris */
  color: #888; /* Color de texto gris */
  border: 1px solid #ccc; /* Borde gris */
}