<h1>Recuperar contraseña</h1>
  <div class="form-container">
    <form action="/api/session/recoverypass" method="post" class="form-register">
      <label>Email:</label> <input type="text" name="email"><br/>
      <button type="submit">Recuperar</button>
    </form>
  </div>
</form>